.mobile_header{
    .bottom_header{
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 671;
    }
    // svg[aria-label=Person]{
    //     float: right;
    // }
    svg[aria-label=Collect],svg[aria-label=Search]{
        margin: 0 auto
    }
    svg[role=img]{
        margin: 0 auto;
    }
}